*{
    margin: 0;
    padding: 0;
}

header{
    background: black;
    height: 50px;
    position: fixed;
    width: 100%;
    border-bottom: #1db954 1px solid;
    
    
}

#logo{
    color: #1db954;
    margin-top: 5px;
    float: left;
    margin-left: 5%;
    display: flex;
}


#logo-foto{
    border-radius: 80%;
    width: 40px;
    margin-right: 5px;
}

#menu{
    margin-top: 15px;
    color: white;
    float: right;
    margin-right: 5%;
}

.elementoMenu{
    margin: 0px 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.elementoMenu:hover{
    transition: 0.5s;
    color: #1db954;
}

#conteudo-principal{
    margin-bottom: -4px;
}

#imagem-central{
    width: 100%;
}

#botao-imagem{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    color: black;
    background: #1db954;
    padding: 15px 60px;
    text-transform: uppercase;
    border-radius: 30px;
    letter-spacing: 1px;
    
}

footer{
    color: white;
    background: black;
    height: 30px;
    border-top: #1db954 solid 1px;
    
    justify-content: center;
    display: flex;
    align-items: center;
}

